h1{
    text-align: center;
    background-color: white;
}


/*FOOTER*/
footer{
    background-color: #6CB759;
    color: aliceblue;
    text-align: center; /* Centro el contenido horizontalmente */
    padding: 20px;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
}
footer p {
    text-align: center; /* Centro el texto horizontalmente */
}

/*IMAGENES DEL CENTRO*/
/* Estilos para el contenedor del cuadrado de fondo */
.background-square {
    background-color: #6CB759; /* Cambia el color de fondo según tus preferencias */
    padding: 20px; /* Espaciado interior para las imágenes y el párrafo */
    text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilos para las imágenes */
.image {
    max-width: 50%; /* Tamaño máximo de las imágenes */
    height: auto; /* Mantener la relación de aspecto original */
    display: block; /* Para centrar la imagen horizontalmente */
    margin: 0 auto; /* Centra la imagen horizontalmente en el contenedor */
    margin-bottom: 10px; /* Espaciado inferior entre las imágenes */
    border-radius: 5px;

}


/* Estilos para el párrafo (texto en negrita) */
.background-square p {
    margin: 10px 0; /* Espaciado entre el párrafo y las imágenes */
    font-weight: bold; /* Hace que el texto esté en negrita */
}



/*MENU NAVBAR*/
/* Agregar margen derecho a los elementos del menú */
.navbar-nav .nav-item {
    margin-right: 50%; /* Márgenes a la derecha entre elementos del menú */
    font-size: 120%;
}
.nav-item {
    white-space: nowrap;
}

/*PROYECTOS REALIZADOS*/
.custom-title {
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    text-transform: uppercase; /* Mayúsculas */
    text-align: center;
    color: #333; /* Color de texto */
}

